<div class="card mt-5 col-md-3 d-inline-block">
    <div class="card-header text-center">
        
        <img class="card-img" src="assets/img/bitcoin.png" alt="Not Founded">
    </div>

    <div id="cardB" class="card-body text-justify">
        <h3 class="card-title text-center">Peces</h3>

        <p class="card-text">
            Revise nuestro catalogo para mas informacion
        </p>

        <a class="btn bg-header text-white d-block"
            href="">Ver catalogo</a>
    </div>
</div>