/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.bg-header{
    background-color: #01579b;
}

.body{
    font-family: 'Roboto', sans-serif;
}

.imgSize{
    height: 50%;
    width: 50%;
}

.section-marger-fixed{
    margin-top: 40vh;
}